
assignment2/data/submission_sample\.csv

assignment2/data/test_set_VU_DM\.csv

assignment2/data/training_set_VU_DM\.csv

\.idea/

assignment2/venv/
assignment2/data/tenth_test\.csv

assignment2/data/tenth_train\.csv

assignment2/data/tenth_valid\.csv
